@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-bg {
  background-image: url('./assets/BackOceano.jpeg');
  background-size: cover;
  background-position: center;
}
